<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Pantalla del publico</title>

        <link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
    
      </head>

<body>
    <h2>Hola</h2>
    <table>


        <tr>
            <td valign="middle" class="ticket-actual">

                <span id="lblTicket1" class="ticket-actual-numero"></span>
                <br>
                <span id="lblDatos1" class="ticket-actual-datos"></span>
                <br>
                <span id="lblEscritorio1" class="ticket-actual-escritorio"></span>
            </td>
            <td>
                <table id="tablasecundaria">
                    <tr>
                        <td>
                            <span id="lblTicket2" class="ticket-secundario"></span>
                            <br>
                            <span id="lblDatos2" class="ticket-secundario"></span>
                            <br>
                            <span id="lblDatos2" class="ticket-secundario"></span>
                            <br>
                            <span id="lblEscritorio2" class="ticket-secundario-escritorio"></span>
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span id="lblTicket3" class="ticket-secundario"></span>
                            <br>
                            <span id="lblDatos3" class="ticket-secundario"></span>
                            <br>
                            <span id="lblDatos3" class="ticket-secundario"></span>
                            <br>
                            <span id="lblEscritorio3" class="ticket-secundario-escritorio"></span>
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span id="lblTicket4" class="ticket-secundario"></span>
                            <br>
                            <span id="lblDatos4" class="ticket-secundario"></span>
                            <br>
                            <span id="lblDatos4" class="ticket-secundario"></span>
                            <br>
                            <span id="lblEscritorio4" class="ticket-secundario-escritorio"></span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>



</body>

</html>