<!DOCTYPE html>
<html>
  <head>
    <title>turnero</title>
    <link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">

  </head>
  <body>

      <h2>Turno</h2>
  <div class="container">
    <div class="row">
      <div class="col-9"><h4> Numero  <%= turnos.id %></h4></div>
      <div class="col-4">code<br>  <%= turnos.code %></div>
      <div class="col-6">box<br> <%= turnos.box %></div>
    </div>
  </div>
  <br>
  <form action="/admin/turnos/turnoId/<%= turnos.id %>?_method=DELETE" method="POST">
  <button type="submit" class="btn btn-primary">Eliminar</button>
  <a href="turnos"></a>

 </form>
  </body>
  </html>

  

