<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <title>Nuevo Ticket</title>
     <link rel="stylesheet" href="stylesheets/keyboard.css">

    <link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <table>
        <tr>
            <td>
                <span id="lblNuevoTicket">
                    Cargando...
                </span>
                <hr>
            </td>
        </tr>
        <tr>
            <td>
                <H3 style="font-size: 300%; font-family:Copperplate,fantasy;">Ingrese Matricula o DNI</H4>
                    <input class="use-keyboard-input" style="box-sizing: 30px; padding: 30px; font-size:35px; width: auto;" type="number" value="Ingrese Matricula o DNI" id="lblNuevoDato" required></input>
                    <button class="btn btn-success btn-lg" style="font-size: 20px;">
                        GENERAR   NUEVO   TURNO
                    </button>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
            </td>
        </tr>
    </table>


</body>

</html>