<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <title>Nuevo Ticket</title>
     <link rel="stylesheet" href="stylesheets/keyboard.css">

    <link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <h3>Nuevo Turno</h3>

    <div class="mb-3">
        <form action="/admin/create" method="POST">
        <label for="exampleFormControlInput1" class="form-label">CODIGO</label>
        <input type="text" name="code" class="form-control" id="" placeholder="">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">BOX</label>
        <input type="text" name="box" class="form-control" id="" placeholder="">
        <br>
        <br>
        <button type="submit" class="btn btn-primary">Crear</button>
        </form>
      </div>
           


    <h4>Pendientes sin atender:</h4>
    <ul>
        <% for( let i = 0; i < turnos.length; i++ ) { %>
        <li>
            <a href="/admin/turnos/turnoId/<%= turnos[i].id %>"><%= turnos[i].box %></a>     <%= turnos[i].code %>
        </li>
        <% } %>

    </ul>
   
    
    <div class="col-6">
        <form action="escritorio.html">
            <p>Ingrese el número de BOX:  (del 1 al 4)</p>

            <input name="escritorio" type="text" class="form-control" placeholder="Escritorio" autofocus required>

            <br>
            <button type="submit" class="btn btn-primary">
                Ingresar
            </button>
        </form>
    </div>


</body>

</html>